* {
  box-sizing: border-box;
}
form {
  width: 30%;
  padding: 20px;
  background-color: goldenrod;
  color: gray;
}

h2 {
  color: black;
}
h1 {
  color: navy;
}
input {
  width: 100%;
  padding: 10px;
}
select {
  display: block;
  padding: 5px;
}

div {
  margin: 12px 1px;
}

button {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

#flex {
  /* margin: 0;
  padding: 0; */
  display: flex;
  justify-content: space-between;
}
